# coding agents
.claude/*
.codex/*
.gemini/*
.opencode/*
.planning/*

# other
🚀 Next Steps.txt
3rd sem project presentation-final (2).pptx
commit_msg_backend.txt
commit_msg_frontend.txt
EXECUTION_PLAN.md
fix_lints_2.py
fix_lints.py
